.book {
  background-image: linear-gradient(106deg, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 50%, transparent 50%), url("../../images/nat-10.jpg");
  background-size: 100%;

  @include respond(tab-port) {
    background-image: linear-gradient(rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .9) 100%), url("../../images/nat-10.jpg");
    background-size: cover;

  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 100%;
    }

    .form__group {
      margin-bottom: 2rem;

      .form__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: all .3s;

        @include respond(tab-land) {
          width: 100%
        }

        &:focus:invalid {
          border-bottom: 3px solid red;

        }

        &:focus {
          outline: none;
          border-bottom: 3px solid #55c57a;
        }
      }

      .form__input:placeholder-shown + .form__label {
        opacity: 0;
        transform: translateY(-2rem);

      }

      .form__label {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
      }

    }
  }
}

.form__radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond(tab-land) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  &--input {
    display: none;
  }

  &--label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &--btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: .5rem solid $dark-green;
    border-radius: 10rem;
    position: absolute;
    top: -.4rem;
    left: 0;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 10rem;
      transform: translate(-50%, -50%);
      background-color: $dark-green;
      opacity: 0;
    }
  }

  &--input:checked ~ &--label &--btn:after {
    opacity: 1;
  }
}