.btn {
  font-family: 'Lato', sans-serif;
  position: relative;
  padding: 1.5rem 4rem;
  line-height: 1.7;
  font-size: 1.6rem;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s;

  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    display: inline-block;
    border-radius: 10rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }


  &:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--white {
    color: $color-grey-dark;
    background-color: white;

    &:after {
      background-color: white;
    }
  }

  &--green {
    color: white;
    background-color: $medium-green;
    line-height: 1.7;

    &:after {
      background-color: $medium-green;
    }
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  border: none;
  border-bottom: 1px solid $medium-green;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  color: $medium-green;
  line-height: 1.7;
  padding: .3rem;
  transition: all .3s;

  &:hover {
    background-color: $medium-green;
    color: white;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
  }
}