.footer {
  padding: 10rem 0;
  background-color: #333;

  @include respond(phone) {
    padding: 4rem 0;
  }

  &__logo--box {
    margin-bottom: 8rem;
    text-align: center;

    & img {
      @include respond(phone) {
        width: 10rem;
      }
    }

    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }

  &__copy {
    padding-top: 2rem;
    border-top: 1px solid #777;
    margin-left: 10rem;
    font-size: 1.4rem;
    color: #f7f7f7;
    text-transform: uppercase;

    @include respond(tab-land) {
      margin: 0;
    }
  }

  &__list {
    list-style: none;
    display: inline-flex;
    gap: 1.5rem;
    color: #f7f7f7;
    font-size: 1.4rem;
    border-top: 1px solid #777;
    padding-top: 2rem;

    @include respond(tab-land) {
      display: flex;
      justify-content: center;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: #f7f7f7;
      transition: all .3s;


      &:hover {
        color: $light_green;
        transform: scale(1.1);
      }
    }
  }
}
